[project]
	description = Automatically exported from code.google.com/p/howellw-datanet-final
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Wes Howell (wrhcsou)
[access "refs/for/refs/*"]
	read = group user/Wes Howell (wrhcsou)
	push = group user/Wes Howell (wrhcsou)
	label-Code-Review = -2..+2 group user/Wes Howell (wrhcsou)
	label-Verified = -1..+1 group user/Wes Howell (wrhcsou)
	rebase = group user/Wes Howell (wrhcsou)
	removeReviewer = group user/Wes Howell (wrhcsou)
	submit = group user/Wes Howell (wrhcsou)
[access "refs/heads/*"]
	read = group user/Wes Howell (wrhcsou)
	create = group user/Wes Howell (wrhcsou)
	push = +force group user/Wes Howell (wrhcsou)
	pushMerge = group user/Wes Howell (wrhcsou)
[access "refs/tags/*"]
	push = +force group user/Wes Howell (wrhcsou)
	pushTag = group user/Wes Howell (wrhcsou)
	pushSignedTag = group user/Wes Howell (wrhcsou)
